.skill-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
  padding: 2em 0;
}

#header{
  padding: 1em;
}

.chip-listbox{
  padding: 1em 0;
}

@media (min-width: 768px){
  .skill-cont {
    gap: 2em;
      padding: 0 8em;
  }

}

