<body id="page">
  <div id="header">
    <h1>Mes Compétences</h1>
    <p>
      Vous trouverez sur cette page un aperçu de mes compétences diverses et
      variées, couvrant un large éventail de domaines allant du développement
      web avec Angular et Java, à la pratique de l'aquarelle. Mon désir
      d'apprendre de nouvelles choses me pousse à explorer constamment de
      nouveaux horizons, à la recherche d'opportunités pour acquérir de
      nouvelles compétences et pour améliorer celles que j'ai déjà acquises.
    </p>
    <mat-chip-listbox selectable multiple class="chip-listbox">
      <mat-chip-option
        *ngFor="let category of categories"
        (click)="setChipSelected(category)"
        >{{ category }}</mat-chip-option
      >
    </mat-chip-listbox>
    <mat-divider></mat-divider>
  </div>

  <div class="skill-cont">
    <app-skill-item
      *ngFor="let skill of skillsSelected"
      [skill]="skill"
    ></app-skill-item>
  </div>
</body>
