<body id="page">
  <div class="header">
    <img
      *ngIf="project.iconUrl != undefined"
      [src]="project.iconUrl"
      alt=""
    />
    <h1>{{ project.displayName | uppercase }}</h1>
  </div>
  
  <p>{{ project.description }}</p>

  <div class="skills-category-cont" *ngIf="skillsCategory.length > 0">
    <h2>Les compétances utilisé :</h2>
    <mat-card *ngFor="let category of skillsCategory">
      <mat-card-header>
        <mat-card-title> {{ category | uppercase }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let skill of getSkillByCategory(category)">
          {{ skill.displayName }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    class="project-screenshots-cont"
    *ngIf="project.screenshots != undefined"
  >
    <h2>screenshots :</h2>
    <!-- <img
      id="screenshot"
      *ngFor="let screenshot of project.screenshots"
      [src]="screenshot"
      alt=""
    /> -->

    <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
      
      <a *ngFor="let screenshot of project.screenshots" [href]="screenshot">
          <img alt="img1" [src]="screenshot" />
      </a>

  </lightgallery>

  </div>

  <button
    mat-button
    [disabled]="project.gitUrl === undefined"
    *ngIf="github"
    (click)="onGitClick()"
  >
    voir le repo github
  </button>
  <button mat-button routerLink="/projects">
    <mat-icon>arrow_back</mat-icon> retour aux projects
  </button>
</body>
