@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  img {
    max-width: 30em;
    min-width: 10em;
    height: auto;
  }

  .title-cont {
    text-align: center;
    h1 {
      font-size: 24pt;
      font-weight: 500;
      margin: 0;
    }
    p {
      color: #b1b1b1;
    }
  }
}
.desc {
  padding: 0 1em;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#screenshot {
  max-width: 25em;
  max-height: 25em;
}

.skills-category-cont {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 0.5em;
  padding: 1em;
}

.skill-cont {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  flex-wrap: wrap;

  mat-chip {
    background-color: none;
  }
}

.project-screenshots-cont {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 1em;
  padding: 1em;
  a {
    padding: 1em 0.5em 1em 0;
  }
}
