<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->

<!-- The menu Tabs -->
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="à propos"><app-about-me></app-about-me></mat-tab>
  <mat-tab label="competences"><app-skills></app-skills></mat-tab>
  <mat-tab label="projets"><app-projects></app-projects></mat-tab>
</mat-tab-group>


<router-outlet></router-outlet>
