<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="TabHeader1"></mat-tab>
  <mat-tab label="TabTabHeader2"></mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
