<div class="skill" [ngStyle]="{ 'background-color': skillColorAlpha }">
  <div class="cont-a">
    <img [src]="skill.iconUrl" [alt]="skill.displayName" />
    <mat-chip>{{ skill.category }}</mat-chip>
  </div>
  <div class="cont-b">
    <p class="description">{{ skill.description }}</p>
  
    <div class="bg-footer">
      <mat-card-actions>
        <button mat-button [routerLink]="'/skillProjects/' + skill.id">
          voir les projets
        </button>
      </mat-card-actions>
    </div>
  </div>
  
</div>
