.project-card {
  margin: 1em;
  max-width: 100%;

  .project-image{
    max-height: 10em;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .project-card {
    width: 25em;

    .project-image {
      max-height: 25em;
    }
  }
}


.project-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.project-description {
  margin-top: 1em;
}

.skills-chips-list {
  padding-top: 1em;
}

#git-button:disabled {
  img {
    opacity: 0.3;
  }
}
