.project-card {
  margin: 1em;
  // width: 100%;

  .project-image {
    max-height: 10em;
    width: 100%;
    object-fit: cover;
  }
}


.project-header-image {
  background-image: url("https://imgur.com/ECbXmcH.jpg");
  background-size: cover;
}

.project-description {
  margin-top: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.skills-chips-list {
  padding-top: 1em;
}

#git-button:disabled {
  img {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .project-card {
    width: 25em;

    .project-image {
      min-height: 25em;
    }
  }
}
