<mat-card class="project-card">
  <mat-card-header>
    <div mat-card-avatar class="project-header-image" *ngIf="project.iconUrl != undefined" [ngStyle]="{'background-image' : 'url(' + project.iconUrl + ')'}"></div>
    <div mat-card-avatar class="project-header-image" *ngIf="project.iconUrl == undefined"></div>
    <mat-card-title>{{ project.displayName }}</mat-card-title>
    <mat-card-subtitle>{{getMotivationFrench(project.motivation)}}</mat-card-subtitle>
  </mat-card-header>
  <img class="project-image" mat-card-image [src]="project.imgUrl"/>
  <mat-card-content>
    <mat-chip-listbox
      class="skills-chips-list"
      *ngIf="projectSkills.length > 0"
    >
      <mat-chip *ngFor="let skill of projectSkills">{{
        skill.displayName
      }}</mat-chip>
    </mat-chip-listbox>

    <p class="project-description">
      {{ project.description }}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button
      id="git-button"
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
      [disabled]="project.gitUrl === undefined"
      *ngIf="github"
      (click)="onGitClick()"
    >
      <img [src]="gitSkill.iconUrl" alt="le lien vers le github du projet" />
    </button>
    <button mat-stroked-button color="primary" [routerLink]="'/project/' + project.id">voir le projet</button>
  </mat-card-actions>
</mat-card>
