.project-card {
    max-width: 25em;
    margin: 1em;
  }
  
  .project-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .project-description{
    margin-top: 1em;
  }

  .skills-chips-list{
    padding-top: 1em;
  }

  #git-button:disabled{
    img{
     opacity: 0.3;
    }
  }