<mat-card class="project-card">
  <mat-card-header>
    <div mat-card-avatar class="project-header-image"></div>
    <mat-card-title>{{ project.displayName }}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="project.imgUrl" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <mat-chip-listbox
      class="skills-chips-list"
      *ngIf="projectSkills.length > 0"
    >
      <mat-chip *ngFor="let skill of projectSkills">{{
        skill.displayName
      }}</mat-chip>
    </mat-chip-listbox>

    <p class="project-description">
      {{ project.description }}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button
      id="git-button"
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
      [disabled]="project.gitUrl === undefined"
      *ngIf="github"
      (click)="onGitClick()"
    >
      <!-- <mat-icon>home</mat-icon> -->
      <img [src]="gitSkill.iconUrl" alt="le lien vers le github du projet" />
    </button>
    <button mat-button>voir le projet</button>
  </mat-card-actions>
</mat-card>
