html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


#page {
    padding: 1em;
    #header{
        padding: 1em;
      }
  }

  .projects-cont{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.bold{
    font-weight: 500;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #page{
        padding: 2em 4em;

        #header{
            padding: 2em 6em;
          }
    }
}

@media (min-width: 768px) {

    #page{
        padding: 2em 8em;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        #header{
            padding: 2em 12em;
          }
    }
    


    .projects-cont{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}