.header {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    width: auto;
    font-weight: 600;
    font-size: 24pt;
    padding: 0;
    margin: 0;
  }
  h2 {
    width: auto;
    font-weight: 200;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    min-width: 300px;
    max-width: 400px;
  }

  .intro-cont {
    h3 {
      font-size: 16pt;
      font-weight: 400;
    }

    border-top: 1px solid rgb(168, 168, 168);
    // background-color: rgb(241, 241, 241);
    padding: 0.5em;
    padding-top: 1em;
    // border-radius: 0.5em;
  }
}

.content-block {
  padding: 2em 0;
  mat-divider {
    margin-top: 1em;
  }
}

.contact-card-header-image{
  background-color: rgb(233, 162, 32);
  background-image: url(../../../assets/img/pierreG-100.png);
  background-size: cover;
  background-position: center;
}


#divChart{
  display: block;
  min-width: 350px;
  min-height: 350px;
}