<body id="page">
  <div class="header">
    <h1>Pierre Gaillot</h1>
    <h2>développeur front end</h2>

    <div class="intro">
      <img src="../assets/img/pierreG-600.png" alt="" />

      <div class="intro-cont">
        <h3>Bienvenue sur mon portfolio.</h3>
        <p>
          Sur ce site web, je présente mon parcours, mes motivations et mes
          compétences, ainsi que quelques projets que j'ai eu la chance de
          réaliser.
        </p>
      </div>
    </div>
  </div>

  <div class="content-block">
    <h2><mat-icon>hiking</mat-icon> mon parcours</h2>
    <p class="intro">
      Voici un aperçu des différentes expériences professionnelles que j'ai pu
      acquérir. C'est grâce à ce choix que je suis désormais développeur
      front-end, avec quelques casquettes en plus.
    </p>
    <mat-tree [dataSource]="expDataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        {{ node.name }}
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
      >
        <button
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.name"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </mat-icon>
        </button>
        {{ node.name }}
      </mat-tree-node>
    </mat-tree>
    <mat-divider> </mat-divider>
  </div>

  <div class="content-block">
    <h2><mat-icon>school</mat-icon> mes études</h2>
    <p class="intro">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum sint,
      laudantium nam consequatur ullam quos a iusto sit porro eligendi,
      inventore libero eaque eius ipsa voluptatum rerum fugiat neque pariatur!
    </p>

    <mat-tree [dataSource]="studiesDataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        {{ node.name }}
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
      >
        <button
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.name"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </mat-icon>
        </button>
        {{ node.name }}
      </mat-tree-node>
    </mat-tree>
    <mat-divider> </mat-divider>
  </div>

  <div class="content-block">
    <h2><mat-icon>thumb_up</mat-icon> Mes motivations</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
      cupiditate, a, accusantium excepturi ullam enim fugiat, alias inventore
      mollitia rem quas magni non ipsum. Explicabo tempore similique amet magnam
      quidem fuga cum ex numquam, doloribus totam sint magni iste eligendi minus
      perferendis? Optio quaerat, expedita ipsa molestiae cumque mollitia
      ducimus non rem facere reiciendis. Autem rerum commodi porro
      necessitatibus aliquid.
    </p>
    <mat-divider> </mat-divider>
  </div>

  <div class="content-block">
    <h2><mat-icon>self_improvement</mat-icon> mes passions</h2>
    <p>
      Grâce au graphique ci joint, vous pourrez vous faire un idée des
      différentes manières dont j'aime occuper mes mains et mon esprit durant
      mon temps disponible. Nous vivons une époque fantastique, ou les
      connaissances sont accessibles à tous. Alors, demain je pourrais très bien
      apprendre la physique d'un corps noir dans l'espace, ou les claquettes
      comme Savion Glover. Aujourd'hui je me contente d'appendre, le langage
      programmation en Python, en C++, l'Arduino et l'électronique mais aussi
      l’aquarelle et le piano. Enfin vous l'aurez compris je suis curieux, et
      déterminé à ne pas laisser mon cerveau s'ennuyer.
    </p>

    <div id="divChart">
      <canvas id="myChart"></canvas>
    </div>

    <mat-divider> </mat-divider>
  </div>

  <div class="content-block">
    <h2><mat-icon>alternate_email</mat-icon>contact</h2>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="contact-card-header-image"></div>

        <mat-card-title>Pierre Gaillot</mat-card-title>
        <mat-card-subtitle>développeur front end</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Pour plus d'information, ou simplement pour discuter vous pouvez me
          contacter par téléphone ou par mail.
        </p>
        <ul>
          <li>06.65.65.62.62</li>
          <li>pr.gaillot@gmail.com</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-button
          (click)="
            openLink('https://www.linkedin.com/in/pierre-gaillot-4a01b585/')
          "
        >
          <mat-icon svgIcon="linkedin"></mat-icon>linkedin
        </button>
        <button
          mat-button
          (click)="
            openLink('https://www.instagram.com/piergaillot/')
          "
        >
          <mat-icon svgIcon="insta"></mat-icon>instagram
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</body>
